requests
schedule
loguru
aiofiles
fastapi[all]
uvicorn
pyttsreverso
psutil
anyio>=4.4.0 # not directly required, pinned by Snyk to avoid a vulnerability
fastapi>=0.109.1 # not directly required, pinned by Snyk to avoid a vulnerability
starlette>=0.40.0 # not directly required, pinned by Snyk to avoid a vulnerability
urllib3>=2.5.0 # not directly required, pinned by Snyk to avoid a vulnerability
h11>=0.16.0 # not directly required, pinned by Snyk to avoid a vulnerability
